test
out
.metadata
.idea
.idea/
*.iml
metropolis.properties
bin
.vagrant
target/
.update-lock
usercache.json
minecraft/logs
minecraft/plugins/ChestLootz
gridlog*
Metropolis.db
minecraft/plugins/BKCommonLib
minecraft/plugins/Metropolis/cache
minecraft/plugins/Metropolis/Chests
minecraft/plugins/Metropolis/schematics
minecraft/plugins/NoLagg
minecraft/plugins/PluginMetrics
minecraft/plugins/Updater
minecraft/plugins/WorldEdit
minecraft/world
minecraft/plugins/Metropolis/disabled
Metropolis.jar
minecraft/world_nether
minecraft/world_the_end
minecraft/crash-reports
